<div *ngIf="subjects && subjects.length > 0; else noSubjects">
    <div class="subject-row">
      <div *ngFor="let subject of subjects" class="subject-card">
        <h3>{{ subject.name }}</h3>
        <p>{{'teacher'| translate}}: {{ subject.teacherLastname }} {{ subject.teacherFirstname }}</p>
        <p>{{'class'| translate}}: {{ subject.className }}</p>
        <button class="button" [routerLink]="['/subject-view', subject.id]">{{'subject-view'| translate}}</button>
        <p>{{'my-group'| translate}}</p>
        <button class="button" [routerLink]="['/get-group', subject.id, userId]">{{'go-to-group'| translate}}</button>
      </div>
    </div>
  </div>
  
  <ng-template #noSubjects>
    <p>{{'no-subjects'| translate}}</p>
  </ng-template>
  
  <div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
  </div>
