<div *ngIf="subjects && subjects.length > 0; else noSubjects">
  <h2>{{className}}</h2>
    <button routerLink="/main-part" class="button-white">
      <h3 class="link-text text-blue">{{'back'| translate}}</h3>
    </button>
    <div class="excel-container">
      <table class="excel-table">
      <thead>
        <tr>
          <th>{{'subject-name'| translate}}</th>
          <th>{{'teacher'| translate}}</th>
          <th>{{'actions'| translate}}</th>
        </tr>
      </thead>
        <tbody>
            <tr *ngFor="let subject of subjects">
              <td>{{ subject.name }}</td>
              <td>{{ subject.teacherLastname }} {{ subject.teacherFirstname }}</td>
              <td>
                <div class="button-container">
                  <button [routerLink]="['/update-subject', subject.id]" class="update-button">{{'update'| translate}}</button>
                  <button (click)="onDelete(subject.name)" class="delete-button">{{'delete'| translate}}</button>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <ng-template #noSubjects>
    <p>{{'no-subjects'| translate}}</p>
  </ng-template>
  
  <div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
  </div>
