<button class="button" [routerLink]="['/create-exercise']" *ngIf="isTeacher()">Create Exercise</button>
<div *ngIf="exercises && exercises.length > 0; else noExercises">
    <div *ngFor="let exercise of exercises" class="exercise-card">
      <h2>{{'exercise-details'| translate}}</h2>
      <div class="exercise-info">
        <p>{{'exercise-name'| translate}}: {{ exercise.name }}</p>
        <p>{{'description'| translate}}: {{ exercise.description }}</p>
        <p>{{'date'| translate}}: {{ exercise.date }}</p>
        <h2>{{'material'| translate}}</h2>
        <app-get-teacher-file [exerciseId]="exercise.id"></app-get-teacher-file>
      </div>
      <div *ngIf="isStudent()">
        <app-get-student-file [exerciseId]="exercise.id"></app-get-student-file>
        <app-get-mark [exerciseId]="exercise.id"></app-get-mark>
      </div>
      <div class="buttons">
        <button class="button" [routerLink]="['/work-rating', exercise.id]" *ngIf="isTeacher()">{{'check-works'| translate}}</button>
        <div class="button-separator"></div>
        <button class="delete-button" (click)="onDelete(exercise.name)" *ngIf="isTeacher()">{{'delete-exercise'| translate}}</button>
      </div>
      <app-file-sending [exerciseId]="exercise.id"></app-file-sending>
    </div>
  </div>
  
  <ng-template #noExercises>
    <p>{{'no-exercise'| translate}}.</p>
  </ng-template>
  
  <div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
  </div>
