<div *ngIf="exercises && exercises.length > 0; else noExercises">
    <div *ngFor="let exercise of exercises" class="exercise-card">
      <h2>Exercise Details</h2>
      <div class="exercise-info">
        <p>Name of Exercise: {{ exercise.name }}</p>
        <p>Description: {{ exercise.description }}</p>
        <p>Date: {{ exercise.date }}</p>
      </div>
      <div class="buttons">
        <div class="button-separator"></div>
        <button class="delete-button" (click)="onDelete(exercise.name)" *ngIf="isTeacher()">Delete exercise</button>
      </div>
    </div>
  </div>
  
  <ng-template #noExercises>
    <p>No exercises available.</p>
  </ng-template>
  
  <div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
  </div>
