<div class="schedule-container" *ngIf="lessonsByDay && timeSlots.length">
  <div class="schedule-grid" [style.gridTemplateColumns]="'140px repeat(' + weekDays.length + ', 1fr)'">
    <div class="schedule-cell header corner"></div>
    <div class="schedule-cell header" *ngFor="let weekDay of weekDays">
      {{ weekDay }}
    </div>
    <ng-container *ngFor="let slot of timeSlots">
      <div class="schedule-cell time">{{ slot }}</div>
      <div class="schedule-cell lesson-cell" *ngFor="let day of weekDays">
        <div class="lesson-row" *ngIf="groupedLessons[day] && groupedLessons[day][slot]">
          <div class="lesson-card" *ngFor="let lesson of groupedLessons[day][slot]">
            <span class="lesson-name">{{ lesson.name }} ({{ lesson.subgroup?.number }})</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>






