<div *ngIf="schoolClass && schoolClass.length > 0; else noSchoolClass">
    <h2><strong>{{'class'| translate}}: {{ className }}</strong></h2>
    <div class="excel-container">
      <table class="excel-table">
      <thead>
        <tr>
          <th>{{'lastname'| translate}}</th>
          <th>{{'firstname'| translate}}</th>
          <th>{{'email'| translate}}</th>
        </tr>
      </thead>
        <tbody>
            <tr *ngFor="let user of schoolClass">
              <td>{{ user.lastname }}</td>
              <td>{{ user.firstname }}</td>
              <td>{{ user.email }}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <ng-template #noSchoolClass>
    <p>{{'no-class-users'| translate}}</p>
  </ng-template>
  
  <div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
  </div>
