<p>{{'my-group'| translate}}</p>
<button class="secondary-btn" routerLink="/create-group">
  {{'create-group'| translate}}
</button>
<div class="group-container">
  <div *ngFor="let group of groups" class="group-card">
    <button [routerLink]="['/group-chat', group.id]">{{group.groupName}}</button>
    <div class="button-separator"></div>
    <button class="secondary-btn" routerLink="/add-user-to-group">{{'add-user-to-group'| translate}}</button>
    <button class="delete-button" (click)="onDelete(group.groupName)" *ngIf="isTeacher()">{{'delete-group'| translate}}</button>
    <span *ngIf="unreadMap[group.id]" class="unread-dot"></span>
  </div>
  <div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
  </div>
</div>
