<div *ngIf="schoolClass && schoolClass.length > 0; else noSchoolClass">
    <p>{{schoolClass.name}}</p>
    <h2>{{'class-users'| translate}}class-users</h2>
    <button routerLink="/main-part" class="button-white">
      <h3 class="link-text text-blue">{{'back'| translate}}</h3>
    </button>
    <div class="excel-container">
      <table class="excel-table">
      <thead>
        <tr>
          <th>{{'lastname'| translate}}</th>
          <th>{{'firstname'| translate}}</th>
          <th>{{'email'| translate}}</th>
          <th>{{'delete'| translate}}</th>
        </tr>
      </thead>
        <tbody>
            <tr *ngFor="let user of schoolClass">
              <td>{{ user.lastname }}</td>
              <td>{{ user.firstname }}</td>
              <td>{{ user.email }}</td>
              <td>
                <button (click)="onDelete(user.lastname,user.firstname)" class="delete-button">{{'delete-user'| translate}}</button>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <ng-template #noSchoolClass>
    <p>{{'no-class-users'| translate}}.</p>
  </ng-template>
  
  <div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
  </div>
